<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Details for {{remoteBookDetails["title"]}}
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">
    <div class="row">
        <div style="" class="col-lg-3">
              <div class="hpanel">
                  <div class="panel-heading">
                      <div class="panel-tools">
                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                          <a class="closebox"><i class="fa fa-times"></i></a>
                      </div>
                      Publication Data
                  </div>
                  <div class="panel-body">
                      <img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" class="text-center">
                      <br><br>
                      <p><b>Title:</b> {{remoteBookDetails["title"]}}</p>
                      <p><b>ISBN:</b> {{remoteBookDetails["isbn"]}}</p>
                      <p><b>Author:</b> {{remoteBookDetails["author"]}}</p>
                      <p><b>Publisher:</b> {{remoteBookDetails["publisher"]}}</p>
                      <p><b>Edition:</b> {{remoteBookDetails["edition"]}}</p>
                  </div>
              </div>
          </div>
          <div style="" class="col-lg-3">
              <div class="hpanel">
                  <div class="panel-heading">
                      <div class="panel-tools">
                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                          <a class="closebox"><i class="fa fa-times"></i></a>
                      </div>
                      Graph Settings
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group"><label class="col-sm-6 control-label">Start</label>
                        <div class="col-sm-6">
                          <div class="input-group bootstrap-touchspin"><input style="display: block;" class="form-control"
                                   ng-model="offset" type="number">
                          </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-6 control-label">To</label>
                        <div class="col-sm-6">
                          <div class="input-group bootstrap-touchspin">
                            <input style="display: block;" class="form-control"
                                   ng-model="to" type="number">
                          </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-6 control-label">Competitors</label>
                        <div class="col-sm-6">
                          <div class="input-group bootstrap-touchspin">
                            <input style="display: block;" class="form-control"
                                   ng-model="amountOfCompetitors" type="number">
                          </div>
                        </div>
                    </div>
                    <button type="button" class="ladda-button ladda-button-demo btn btn-outline btn-success pull-right" ata-style="zoom-in">Apply</button>
                  </div>
              </div>
          </div>
          <div style="" class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        Competitor Data
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table" cellpadding="1" cellspacing="1">
                          <tr>
                            <th>Competitor</th>
                            <th>Prime</th>
                            <th>Feedback</th>
                            <th>Rating</th>
                            <th>Shipping</th>
                          </tr><tr ng-repeat="(key,label) in datalabels track by $index">
                            <td>{{label}}</td>
                            <td>{{bookData[0]["OFFER_0"+(key+1)+"_IS_PRIME"]}}</td>
                            <td>{{bookData[0]["OFFER_0"+(key+1)+"_FEEDBACK"]}}</td>
                            <td>{{bookData[0]["OFFER_0"+(key+1)+"_RATING"]}}</td>
                            <td>{{bookData[0]["OFFER_0"+(key+1)+"_SHIPPING"]}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="row">
        <div style="" class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Pricing over Time
                </div>
                <div class="panel-body">
                    <div id="lineChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div style="" class="col-lg-12">
          <div class="hpanel">
              <div class="panel-heading">
                  <div class="panel-tools">
                      <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                      <a class="closebox"><i class="fa fa-times"></i></a>
                  </div>
                  Data Table
              </div>
              <div class="panel-body">
                  <table id="example2" class="footable table table-bordered table-hover tablet breakpoint footable-loaded">
                    <thead>
                      <tr>
                          <th>
                            <a ng-click="sortBy('from')">From</a>
                            <span class="sortorder" ng-show="propertyName === 'from'" ng-class="{reverse: reverse}"></span>
                          </th>
                          <th>
                            <a ng-click="sortBy('to')">To</a>
                            <span class="sortorder" ng-show="propertyName === 'to'" ng-class="{reverse: reverse}"></span>
                          </th>
                          <th ng-repeat="label in datalabels">
                            <a ng-click="sortBy(label)">{{label}}</a>
                            <span class="sortorder" ng-show="propertyName === label" ng-class="{reverse: reverse}"></span>
                          </th>
                          <th>
                            <a ng-click="sortBy('self')">Self</a>
                            <span class="sortorder" ng-show="propertyName === 'self'" ng-class="{reverse: reverse}"></span>
                          </th>
                          <th>
                            <a ng-click="sortBy('sold')">Sold?</a>
                            <span class="sortorder" ng-show="propertyName === 'sold'" ng-class="{reverse: reverse}"></span>
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="footable-even" style="display: table-row;" ng-repeat="datapoint in bookData | orderBy:propertyName:reverse">
                          <td>{{datapoint["DATUM_UHRZEIT_VON"]}}</td>
                          <td>{{datapoint["DATUM_UHRZEIT_BIS"]}}</td>
                          <td ng-repeat="(key,label) in datalabels">{{datapoint["OFFER_0"+(key+1)+"_PRICE"]}}</td>
                          <td>{{datapoint["OFFER_PRICE"]}}</td>
                          <td>{{booleanTranslator(datapoint["SOLD_YN"])}}</td>
                      </tr>
                    </tbody>
                  </table>
               </div>
            </div>
        </div>
    </div>

    <!-- Modal for Loading Book Details -->
    <div class="modal fade hmodal-success " id="loadingModal"
         tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Waiting for HANA..</h4>
                </div>
                <div class="modal-body">
                    <p>
                      <center>
                        <img ng-src="http://covers.openlibrary.org/b/isbn/{{isbn}}-L.jpg" class="text-center">
                        <br><br>
                        <img ng-src="/asset/images/loading.gif" class="text-center">
                      </center>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
